<% include _partials/header %>
<% include _partials/navigation %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>

  <div class="container-fluid">
    <header>
      <h1>Create Account</h1>
    </header>
    <form id="create" name="create" action="/users/create" method="post">
      <input type="text" id="username" name="username" placeholder="Username" required></input></br>
      <input type="password" id="password" name="password" placeholder="Password" required></input></br>
      <input type="password" id="passwordValidate" name="passwordValidate" placeholder="Re-Type Password" required></input></br>
      <input type="submit" placeholder="Submit"></input></br>
    </form>
    <div class="alert alert-warning" id="error">
      <%= error %>
    </div>
    <div class="alert alert-success" id="success">
      <%= success %>
    </div>
  </div>
  <% if(!error){ %>
    <script>$("#error").hide()</script>
  <% } %>
  <% if(!success){ %>
    <script>$("#success").hide()</script>
  <% } %>
<% include _partials/footer %>
