<% include _partials/header %>
<% include _partials/navigation %>
  <div class="container-fluid">
    <header>
      <h1 class="page-title with-news">let's play snake</h1>
    </header>
      <div class="news-message">
        <p>Hello everybody, we don't really have that much to say for now, but this game is essentially designed to
        follow the same model as the twitch plays 'x' games.  You can create or join a room from above, and then
        look at different user statistics that we have provided for you.  Have a good time!</p>
        <h4>- CodeMonkeys</h4>
      </div>
  </div>
<% include _partials/footer %>
