<% include _partials/header %>
<% include _partials/navigation %>
  <div class="container-fluid">
    <header>
      <h1>Login</h1>
    </header>
    <form id="login" name="login" action="/login" method="post">
      <input type="text" id="username" placeholder="Username"></input></br>
      <input type="password" id="password" placeholder="Password"></input></br>
      <input type="submit">Submit</input></br>
    </form>
  </div>
<% include _partials/footer %>
