<% include _partials/header %>
<% include _partials/navigation %>
<div class="container-fluid">
  <header>
    <h1>Stats</h1>
  </header>
  <div id="top-games">
    <% if (stats != undefined) { %>
      <% stats.forEach(function(gameStats){ %>
        
      <% }) %>
    <% } %>

  </div>
</div>
