body {
  padding-top: 50px;
}

.testing {
  border: 1px solid #cccccc;
}

/*=============================================================================
NAVIGATION
=============================================================================*/
#nav-links li {
  border-left: 1px solid #cccccc;
}

#nav-links li:last-child {
  border-right: 1px solid #cccccc;
}

#nav-links li:hover {
  background-color: #cccccc;
}


/*=============================================================================
FORMS
=============================================================================*/
form input {
  padding: 2px;
  margin: 10px;
}


/*=============================================================================
CHAT
=============================================================================*/
#chat-submission {
  float: bottom;
  width: 100%;
  margin: 0;
  padding: 0;
}

#chat-submission  div {
  overflow: hidden;
}

#msg {
  width: 100%;
  border: 1px solid #cccccc;
  border-left: none;
  padding: 5px;
}

#submit-msg {
  float: right;
  padding: 4px;
}

#chat-panel {
  padding: 0;
  margin: 0;
}

#chat-entries {
  max-height: 400px;
  padding: 10px;
  overflow-y: scroll;
}

#chat-submission form input {
  margin: 0px;
}

.ind-msg {
  border-bottom: 1px solid #cccccc;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ind-msg .my-message {
  color: red;
}

/*=============================================================================
STATS
=============================================================================*/
#top-games table {
  border: 1px solid #cccccc;
}

#top-games table th {
  background-color: #cccccc;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

#top-games table td {
  padding: 5px;
  border: 1px solid grey;
}
