body {
  padding-top: 50px;
}

.testing {
  border: 1px solid #cccccc;
}

table a, table a:hover, table a:active, table a:visited {
  text-decoration: underline;
  color: black
}

/*=============================================================================
MISC
=============================================================================*/
.page-title {
  border-bottom: 1px solid #777777;
  color: #777777;
}

.news-message {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  border-radius: 15px 50px;
  padding: 20px;
  overflow: hidden;
  color: #777777;
}

.news-message h4 {
  float: right;
  text-align: right;
  margin: 0;
  padding: 0;
}

/*=============================================================================
NAVIGATION
=============================================================================*/
#nav-links li {
  border-left: 1px solid #cccccc;
}

#nav-links li:last-child {
  border-right: 1px solid #cccccc;
}

#nav-links li:hover {
  background-color: #eeeeee;
}

.dropdown-menu > li > a:hover {
  background-color: #eeeeee;
}


/*=============================================================================
FORMS
=============================================================================*/
form input {
  padding: 4px;
  margin: 10px;
}

.submit-button {
  background-color: white;
  border: 1px solid #cccccc;
  padding-left: 15px;
  padding-right: 15px;
}

.submit-button:hover {
  background-color: #eeeeee;
}

/*=============================================================================
CHAT
=============================================================================*/
#chat-submission {
  float: bottom;
  width: 100%;
  margin: 0;
  padding: 0;
}

#chat-submission  div {
  overflow: hidden;
}

#msg {
  width: 100%;
  border: 1px solid #cccccc;
  border-left: none;
  padding: 5px;
}

#submit-msg {
  float: right;
  padding: 5px;
  background-color: white;
  border: 1px solid #cccccc;
}

#submit-msg:hover, #submit-msg:active {
  background-color: #eeeeee;
}

#chat-panel {
  padding: 0;
  margin: 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;
}

#chat-entries {
  max-height: 400px;
  padding: 10px;
  overflow-y: scroll;
}

#chat-submission form input {
  margin: 0px;
}

.ind-msg {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  width: 80%;
  float: left;
  color: #777777;
}

.ind-msg.my-message {
  float: right;
  text-align: right;
}

#chat-panel strong {
  text-decoration: underline;
}

/*=============================================================================
STATS
=============================================================================*/
.formatted-table a, .formatted-table a:hover, .formatted-table a:active, .formatted-table a:visited {
  text-decoration: underline;
  color: black
}

.formatted-table table {
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 100%;
}

.formatted-table table th {
  background-color: #cccccc;
  font-weight: bold;
  text-align: center;
  border: 1px solid #777777;
  padding: 5px;
}

.formatted-table tr:nth-child(odd) {
  background-color: #eeeeee;
}

.formatted-table tr:hover{
  background-color: #cccccc;
}

.formatted-table table td {
  padding: 5px;
  border: 1px solid #777777;
}

/*=============================================================================
GAME CONTROLS
=============================================================================*/
#control-panel {
  margin: 0 auto;
  padding: 0;
}

#control-panel button {
  width: 25%;
  height: 40px;
  float: left;
  background-color: white;
  border: 1px solid #cccccc;
}

#control-panel button:hover, #control-panel button:active {
  background-color: #eeeeee;
}
