body {
  padding-top: 65px;
}

/*=============================================================================
NAVIGATION
=============================================================================*/
#nav-links li {
  border-left: 1px solid #cccccc;
}

#nav-links li:last-child {
  border-right: 1px solid #cccccc;
}

#nav-links li:hover {
  background-color: #cccccc;
}


/*=============================================================================
FORMS
=============================================================================*/
form input {
  padding: 2px;
  margin: 10px;
}
