<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Let's Play Snake</a>
    </div>
    <ul class="nav navbar-nav" id="nav-links">
      <li><a href="#">join the game</a></li>
      <li><a href="#">spectate</a></li>
      <li><a href="#">statistics</a></li>
    </ul>
  </div>
</nav>
