<!DOCTYPE html>

<html>
  <head>
    <title> Room2 </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div> <a href="/">Room 1</a></div>
    <div id="randContainer"> Dude.. Like DUde woah man bro whats even going on rn bro? u mad? </div>
  </body>
  <script src="/js/namespace2.js"></script>
</html>
