<!DOCTYPE html>

<html>
  <head>
    <title> Room1 </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div> <a href="room2"> Room 2 </a></div>
    <div id="randContainer"> this will hold a random number </div>
    <div> <canvas id="display" height="500" width="1000" style="border:1px solid #000000;"></canvas></div>
  </body>
  <script src="/js/namespace1.js"></script>
</html>
