<% include _partials/header %>
<% include _partials/navigation %>
  <div class="container-fluid">
    <header>
      <h1 class="page-title">login</h1>
    </header>
    <form id="login" name="login" action="/users/login" method="post">
      <input type="text" id="username" name="username" placeholder="username"></input></br>
      <input type="password" id="password" name = "password" placeholder="password"></input></br>
      <input type="submit" class="submit-button" value="submit"></input></br>
    </form>
    <div class="alert alert-warning" id="error">
      <%= error %>
    </div>
    <div class="alert alert-success" id="success">
      <%= success %>
    </div>
  </div>
  <% if(!error){ %>
    <script>$("#error").hide()</script>
  <% } %>
  <% if(!success){ %>
    <script>$("#success").hide()</script>
  <% } %>
<% include _partials/footer %>
